#header{
    text-align: center;
    background-color: purple;
    color: white;
}

#main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#cv-form-container, #generated-cv-container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
}

#cv-form-container{
    background-color: rgb(49, 49, 49);
    color: white;
}

legend{
    font-weight: bold;
    font-size: 18px;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid black;
    padding: 7px;
    margin: 10px 0px;
}

input, select, form button{
    background-color: thistle;
    border: none;
    padding: 3.5px 0;
}

form button{
    padding: 5px 5px;
    border-radius: 5px;
}

form button:hover{
    background-color: plum;
    cursor: pointer;
}

#position-fieldset{
    position: relative;
}

#add-position-btn{
    position: absolute;
    top: -5px;
    right: 5px;
}

li{
    list-style-type: disc;
    margin-left: 20px;
    padding: 2px 0px;
}

.position-item, .education-item{
    position: relative;
    padding: 5px;
}

.position-item:hover{
    background-color: rgb(128, 128, 128, 0.25);
    cursor: pointer;
}

.position-item-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgb(128, 128, 128, 0.75);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.position-item-hover-close-btn{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

hr {
    border: none;
    border-top: 1px solid black;
    margin: 1rem 0;
}