#header{
    text-align: center;
}

#main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#cv-form-container, #generated-cv-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

fieldset{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li{
    list-style-type: disc;
    margin-left: 20px;
    padding: 2px 0px;
}